body {
    background-image: url("../src/images/bg-mobile.svg");
    margin-left: clamp(0px, 9.9vw, 37px);
    margin-right: clamp(0px, 9.9vw, 37px);
}

#container {
    flex-direction: column;
}

header {
    padding-top: clamp(0px, 9.6vw, 35px);
    padding-bottom: clamp(0px, 12.4vw, 45px);
}
header img {
    width: clamp(0px, 33.5vw, 125px);
}

main {
    flex-direction: column;
}
main img {
    width: clamp(0px, 90vw, 100%);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: clamp(0px, 13.4vw, 50px);
    margin-left: 0;
}

#content h1 {
    text-align: center;
    font-size: clamp(0px, 7vw, 23px);
    max-width: clamp(0px, 80.3vw, 300px);
    line-height: clamp(0px, 5.8vh, 33px);
}
#content p {
    text-align: center;
    font-size: clamp(0px, 45vw, 14px);
    max-width: clamp(0px, 99vw, 258px);
    margin-top: clamp(0px, 13.4vw, 15px);
    line-height: clamp(0px, 3.5vh, 20px);
}
#content button{
    margin-top: clamp(0px, 5.4vmin, 20px);
    box-shadow: 0px 0px clamp(0px, 2vw, 10px) clamp(0px, 1vw, 2px) #0000004b;
    font-size: clamp(0px, 3.3vw, 12px);
    padding: clamp(0px, 3vw, 11px);
    padding-left: clamp(0px, 18.8vw, 70px);
    padding-right: clamp(0px, 18.8vw, 70px);
    border-radius: clamp(0px, 5.3vw, 30px);
}

footer {
    justify-content: center;
    align-items: center;
    height: clamp(0px, 8.3vh, 50px);
    gap: clamp(0px, 3.4vw, 16px);
    margin-top: clamp(0px, 8.7vh, 50px);
    margin-bottom: clamp(0px, 5.2vh, 30px);
}

.fa-brands {
    width: clamp(0px, 6.7vw, 25px);
    height: clamp(0px, 6.7vw, 25px);
    border-radius: clamp(0px, 3.5vw, 15px);
}

.fa-facebook-f {
    font-size: clamp(0px, 3.8vw, 14px);
}
.fa-twitter{
    font-size: clamp(0px, 3.8vw, 14px);
}
.fa-instagram{
    font-size: clamp(0px, 3.8vw, 14px);
}