body {
    background-size: auto 100%;
    margin-left: clamp(0px, 6.3vw, 20px);
    margin-right: clamp(0px, 6.3vw, 20px);
}

header {
    width: 100%;
    padding-top: clamp(0px, 4vw, 30px);
    padding-bottom: clamp(0px, 5.3vw, 40px);
}
header img {
    width: clamp(0px, 19.6vw, 150px);
}

main img {
    width: clamp(0px, 49.5vw, 360px);
}

#content {
    width: clamp(0px, 42.8vw, 350px);
    margin-top: clamp(0px, 2.7vw, 20px);
    margin-left: clamp(0px, 2.7vw, 20px);
}

#content h1 {
    font-size: clamp(0px, 3.3vw, 23px);
    line-height: clamp(0px, 4.5vw, 38px);
}
#content p {
    font-size: clamp(0px, 9vw, 13px);
    line-height: clamp(0px, 2.1vw, 28px);
}
#content button{
    margin-top: clamp(0px, 3vmin, 17px);
    border: none;
    box-shadow: 0px 0px clamp(0px, 0.9vw, 10px) clamp(0px, 0.4vw, 2px) #0000004b;
    font-size: clamp(0px, 1.2vw, 15px);
    padding: clamp(0px, 1vw, 11px);
    padding-left: clamp(0px, 3.6vw, 46px);
    padding-right: clamp(0px, 3.6vw, 46px);
    border-radius: clamp(0px, 1.9vw, 28px);
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: clamp(0px, 8.3vh, 50px);
    gap: clamp(0px, 1.3vw, 16px);
}

footer a {
    text-decoration: none;
}

.fa-brands {
    width: clamp(0px, 2.9vw, 40px);
    height: clamp(0px, 2.9vw, 40px);
    border-radius: clamp(0px, 1.5vw, 35px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-facebook-f {
    font-size: clamp(0px, 1.5vw, 20px);
}
.fa-twitter{
    font-size: clamp(0px, 1.5vw, 20px);
}
.fa-instagram{
    font-size: clamp(0px, 1.5vw, 20px);
}