@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap');

body {
    background-image: url("../src/images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin-left: clamp(0px, 6.3vw, 80px);
    margin-right: clamp(0px, 6.3vw, 80px);
}

h1, h2, h3, button {
    font-family: 'Poppins', 'sans-serif';
}

p {
    font-family: 'Open Sans', 'sans-serif';
}

#container {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    padding-top: clamp(0px, 2.4vw, 30px);
    padding-bottom: clamp(0px, 2.7vw, 45px);
}
header img {
    width: clamp(0px, 15.6vw, 200px);
    height: auto;
}

main {
    display: flex;
}
main img {
    width: clamp(0px, 43.2vw, 600px);
}

#content {
    width: clamp(0px, 35.9vw, 490px);
    margin-top: clamp(0px, 3vw, 30px);
    margin-left: clamp(0px, 4.9vw, 50px);
}

#content h1 {
    font-size: clamp(0px, 2.7vw, 37px);
    color: #fff;
    font-weight: 600;
    line-height: clamp(0px, 4vw, 55px);
}
#content p {
    color: rgb(253, 253, 253);
    font-size: clamp(0px, 1.3vw, 18px);
    font-weight: 400;
    line-height: clamp(0px, 2.1vw, 28px);
}
#content button{
    margin-top: clamp(0px, 3vmin, 17px);
    border: none;
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    box-shadow: 0px 0px clamp(0px, 0.9vw, 10px) clamp(0px, 0.4vw, 2px) #0000004b;
    font-size: clamp(0px, 1.2vw, 15px);
    padding: clamp(0px, 1vw, 11px);
    padding-left: clamp(0px, 3.6vw, 46px);
    padding-right: clamp(0px, 3.6vw, 46px);
    border-radius: clamp(0px, 1.9vw, 28px);
}

#content button:hover{
    color: rgb(255, 255, 255);
    background-color: hsl(300, 69%, 71%);
}


footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: clamp(0px, 8.3vh, 50px);
    gap: clamp(0px, 1.3vw, 16px);
}

footer a {
    text-decoration: none;
}

.fa-brands {
    color: #fff;
    border: solid clamp(0px, 0.001vw, 1px) #fff;
    width: clamp(0px, 2.9vw, 40px);
    height: clamp(0px, 2.9vw, 40px);
    border-radius: clamp(0px, 1.5vw, 35px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

.fa-facebook-f {
    font-size: clamp(0px, 1.5vw, 20px);
}
.fa-twitter{
    font-size: clamp(0px, 1.5vw, 20px);
}
.fa-instagram{
    font-size: clamp(0px, 1.5vw, 20px);
}